@model IEnumerable<EquipmentPlacementContractVM>

@{
	ViewData["Title"] = "Index";
}

<p>
	<h2>Equipment Placement Contracts <a asp-action="Create" class="btn btn-primary">Create New</a></h2>
</p>

<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(modelItem => modelItem.ProductionFacilityVM)
			</th>
			<th>
				@Html.DisplayNameFor(modelItem => modelItem.ProcessEquipmentTypeVM)
			</th>
			<th>
				@Html.DisplayNameFor(modelItem => modelItem.EquipmentQuantity)
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.ProductionFacilityVM.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.ProcessEquipmentTypeVM.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.EquipmentQuantity)
				</td>
			</tr>
		}
	</tbody>
</table>
